.navbar {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    list-style: none;
}

.navbar-nav li a {
    transition: all 0.3s ease 0.1s;
    color: #89B5AF;
}

.navbar-nav li a:hover {
    color: #9ED2C6;
}

.nav-item {
    font-size: 18px;
    color: black;
    padding-right: 12px;
    font-family: "Montserrat";
    
    
}


.logo {
    margin-left: 1.2rem;
    margin-top: 3rem;
    font-size: 1.8rem;
    font-family: "Raleway";
    font-weight: bold;
    color: #89B5AF;
}


#title {
    background-color: #DED9C4
}

.container-fluid {
    padding: 0px;
    margin: 0px;
}


#headphoto {
    width: 40rem;
    margin-left: 15%;
}


.titletext {
    color: #89B5AF;
    text-align: center;
    font-family: 'Lora', serif;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 2.6rem;
    line-height: 175%;
    font-weight: 400;
    text-transform: none;

}

.buttonposition {
    margin-left: 20%;
    margin-top: 2px;
    margin-bottom: 10%;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

ul {
    margin-right: 4%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;


}

li {
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;

}

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #AAC4FF;
    margin-left: 3%;
    margin-right: 3%;
}

.logo {
    cursor: pointer;
    margin-top: 8px;
}

.row {
   width: 100%; 
}