.navbar {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    list-style: none;
}

.navbar-nav li a {
    transition: all 0.3s ease 0.1s;
    color: #080808;
}

.navbar-nav li a:hover {
    color: #707070;
}

.nav-item {
    font-size: 18px;
    color: black;
    padding-right: 7rem;
    font-family: "Montserrat";
    
    
}




.logo {
    margin-left: 1.2rem;
    margin-top: 3rem;
    font-size: 1.8rem;
    font-family: "Raleway";
    font-weight: bold;
    color: #080808;
}

.logo:hover {
    color: #777777;
}


#title {
    background-color: #d8d8d8
}

#other{
    background-color: #f3f3f3;
}

.container-fluid {
    padding: 0px;
    margin: 0px;
}


#headphoto {
    width: 40rem;
    margin-left: 8rem;
   
   
}


.titletext {
    color: #080808;
    text-align: center;
    font-family: 'Lora', serif;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 2.6rem;
    line-height: 175%;
    font-weight: 400;
    text-transform: none;

}

.buttonposition1 {
    margin-top: 50px;
    margin-left: 16.5rem;
 

   
}

.buttonposition2 {
    margin-top: 50px;
    margin-left: 12.5rem;
 

   
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

ul {
    margin-right: 4%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;


}

li {
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;

}

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #AAC4FF;
    margin-left: -10%;
    margin-right: -10%;
}




h2 {
    font-family: "Montserrat-Bold";
    color: #080808;
    font-size: 3rem;
    line-height: 1.5;
}



h3 {
    font-family: "Montserrat-Bold";
    color: #080808;
}

.info-text {
    color: #777777;
    
}
.logo {
    cursor: pointer;
    margin-top: 18px;
    margin-left: 5rem;
    
}



 /* info boxes */


 #info {
    padding: 7% 15%;
    background-color: #f3f3f3;
   
 }

 .info-box {
    text-align: center;
    

}

 .icon {
    color: #080808;
    margin-bottom: 1.5rem;
   
    
 }

 .icon:hover {
    color: #777777;
 }

/* carousel */


#testimonials {
    text-align: center;
    padding: 7% 15%;
    background-color:#f3f3f3
}

.quote {
 font-size: 30px;
}



.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 
}
   
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    
    }


/*symptoms*/

.list-unstyled {
    width: 100%;
}